@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family:'Open Sans', arial !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #565656;
}
span {
  line-height: 1em;
}
a:hover {
  color: #8fb12c !important;
}
nav {
  margin-top: 10px;
  padding-bottom: 15px;
}
.logoPrincipal {
  text-align: center;

}
.menu {
  text-align: right;
  float: right;
  margin-top: 25px;

}
.menu li {
  display: inline;
  margin-left: 21px;
}
.menu li:after {
  content:"l";
  position: absolute;
margin-left: 10px;
  height: auto;
  color: gray


}
.menu a {
  color: gray
}
.contenido {
  background-color: #92b937;
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  background-image: url(../img/bg-header.jpg);
  
  background-position: right 100% bottom;
  background-repeat: no-repeat;

}

/*FUENTES*/

.t1 {
  font-size: 2em;
  font-weight: 700;
}
.t2 {
  font-size: 1.1em;
  font-weight: 300;
}
/**/
.iconos {
  margin-bottom: 20px;
  margin-top: 40px;
}
.btn-encontrar {
  color:#8FB12C
}
.primerIcono:after {
content: "";
width: 1px;
background-color: white;
right: 1px;
top: 0px;
position: absolute;
height: 100%;
opacity: 0.3;

}
.complemento {
  background-color: #f2f2f2
}





